body {
  background-color: #fafafa;
}
.loginpage__main {
  display: flex;
  margin-top: 10px;
  margin-left: -65px;
  justify-content: center;
}
.loginpage__logo {
  width: 175px;
  margin-top: 25px;
}
.loginpage_rightcomponent {
  width: 350px;
  padding-bottom: 25px;
  border: 1px solid #dbdbdb;
  margin-top: 25px;
  text-align: center;
  background-color: white;
}
.loginPage__signin {
  margin-top: 25px;
}
.logipage__text {
  width: 258px;
  height: 36px;
  margin: 7px;
  border: 1px solid #dbdbdb;
  background-color: #f6f3f3e9;
  padding-left: 10px;
  border-radius: 5px;
  outline: none;
  font-size: 12px;
}
.logipage__text:focus {
  border: 1px solid #cfb0b0;
  outline: none;
}
.login__button {
  width: 260px;
  height: 30px;
  font-weight: bold;
}
.login__ordiv {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.login__dividor {
  width: 110px;
  height: 0px;
  margin-top: 12px;
  border: 1px solid #dbdbdb;
}
.login__or {
  margin: 0px 10px;
  font-weight: bold;
  color: #8e8e8e;
}
.login__fb {
  color: #395185;
  font-weight: bold;
  margin-top: 30px;
}
.login_forgt {
  color: rgba(var(--fe0, 0, 55, 107), 1);
  font-size: 12px;
  line-height: 14px;
  margin-top: 12px;
  text-align: center;
}
.loginpage__signupoption {
  margin-top: 25px;
  height: 56px;
  width: 350px;
  background-color: white;
  border: 1px solid #dbdbdb;
  text-align: center;
}
.loginPage__signin {
  margin-top: 20px;
}
.loginPage__signup {
  margin-top: 20px;
}
.loginPage__downloadSection {
  height: 105px;
  width: 350px;
  text-align: center;
  margin-top: 20px;
}
.loginPage__option {
  margin-top: 20px;
}
.loginPage_dwimg {
  margin: 5px;
}
.last_li {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
}
.last_li li {
  margin: 10px;
}

.Loginpage__language {
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .loginpage__image {
    display: none;
  }
}
